<!--
Author: Sage Groupe
Date: 12-11-2020
-->


<!--Bottom Nav-->
<!-- <footer>
    <nav class="navbar navbar-dark bg-dark">
      <h6 class=" navbar-text" >&copy; Copyright 2020 . All Rights Reserved - </h6>
    </nav>
  </footer> -->

  <!-- Footer -->
  <footer class="fixed-bottom page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-secondary">© 2020 Copyright
      
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->