<!--
Author: Sage Groupe
Date: 12-11-2020
FileName : header.ejs

-->
<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 



<main>
    
      <div class="container">
        <h1 class="display-10">Welcome to online survey.</h1>
      </div>
    </div>
</main>

<%- include ./partials/bottom_nav.ejs %>  

<%- include ./partials/footer.ejs %>
  
